$maincolor: #303030;
$accentcolor: #e10011;
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@import 'scss/bootstrap-grid.scss';

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: $maincolor;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    position: relative;
    background-color: #f9f8fb;
    background-image: url(../img/berry1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 50px 0;
    &__block {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__text {
        width: 50%;
        min-width: 320px;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        p {
            margin: 35px 0;
        }
    }
    &__button {
        align-self: flex-start;
        background-color: #ff6033;
    }
}

.logo {
    display: inline-block;
}

.nav {
    padding: 10px 0;
    float: right;
    line-height: 2;
    a {
        text-decoration: none;
        color: $maincolor;
        padding-top: 55px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 3px 5px;
        &:hover {
            border-top: 3px solid red;
        }
    }
}

.navicon {
    display: none;
    padding: 23px 20px;
    cursor: pointer;
    transform-origin: 32px 24px;
    & div {
        position: relative;
        width: 20px;
        height: 2px;
        background: rgba(0, 0, 0, 0.87);
    }

    & div:before,
    & div:after {
        display: block;
        content: "";
        width: 20px;
        height: 2px;
        background: rgba(0, 0, 0, 0.87);
        position: absolute;
    }

    & div:before {
        top: -7px;
    }

    & div:after {
        top: 7px;
    }
}

.scroll {
    text-align: center;
    position: absolute;
    bottom: calc(2% + 20px);
    left: calc(50% - 12px);
}

.about {
    background-color: #00bdbd;
    color: white;
    padding: 40px 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__img,
    &__text {
        flex-basis: 450px;
        flex-grow: 1;
        flex-shrink: 1;
        width: 50%;
        min-width: 320px;
        align-self: center;
        padding: 20px;
    }
}

.berries {
    max-width: 100%;
    height: auto;
}

.services {
    background-color: #70bfff;
    color: white;
    padding: 100px 0 130px;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__content,
    &__name {
        position: relative;
        flex-basis: 450px;
        flex-grow: 1;
        flex-shrink: .5;
        width: 50%;
        min-height: 300px;
        min-width: 320px;
        text-align: center;
        padding-top: 70px;
    }
    &__name {
        background-image: url(../img/tomato.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__item {
        display: flex;
        max-width: 400px;
        color: $maincolor;
        height: 100px;
        background-color: #FFF;
        margin: 10px;
    }
    &__icon {
        float: right;
        width: 100px;
        text-align: center;
        height: 100px;
        padding: 28px 0;
        border-left: 1px solid $maincolor;
    }
    &__title {
        display: flex;
        text-align: center; // width: calc(100% - 101px);
        flex-grow: 1;
        height: 100px;
        margin: 0;
        span {
            margin: auto;
        }
    }
}

.gallery {
    text-align: center;
    @include padding(60px, null, 130px, null);
    background-color: #ffe92f;
    img {
        max-width: 100%;
    }
    &__button {
        margin-top: 30px;
        background-color: #5585a2;
    }
}

.subscribe {
    @include padding(60px, null, 110px, null);
    background-color: #FFF;
    background-image: url(../img/form-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    &__input {
        width: 100%;
        height: 48px;
        @include padding(null, 10px, null, 10px);
    }
}

.blog {
    color: white;
    background-color: #b07cf7;
    text-align: center;
    @include padding(60px, null, 110px, null);
    &__button {
        background-color: #f72b3b;
        margin-top: 25px;
    }
    &__item {
        position: relative;
        overflow: hidden;
        color: #fff;
        position: relative;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        max-width: 480px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%);
            opacity: .8;
            width: 100%;
            height: 100%;
            transition: all .5s ease;
        }
        &:hover:after {
            opacity: 1;
        }
    }
    &__img {
        width: 100%;
    }
    &__date {
        position: absolute;
        top: 35px;
        left: 30px;
        background-color: rgba(38, 38, 38, .5);
        padding: 5px 8px;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        border-radius: 8px;
        z-index: 2;
        span {
            font-size: 21px;
            font-weight: 900;
        }
    }
    &__title {
        position: absolute;
        bottom: 20px;
        z-index: 2;
        text-align: left;
        left: 25px;
        right: 25px;
        p {
            font-size: 13px;
            line-height: 1;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}

.contact {
    text-align: center;
    @include padding(60px, null, 110px, null);
    background-image: url(../img/contactbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__info {
        text-align: left;
        padding-left: 50px;
        p {
            line-height: 1;
        }
    }
}

.form {
    padding-right: 50px;

    input::placeholder,
    textarea::placeholder {
        color: white;
        font-weight: 400;
    }

    input:focus::placeholder,
    textarea::focus:placeholder,
    input:hover::placeholder,
    textarea::hover:placeholder {
        font-weight: 900;
        color: green;
    }

    input,
    textarea {
        width: 100%;
        padding: 15px;
        background: rgba(0, 196, 196, .5);
        outline: none;
        color: white;
        border: none;
        border-bottom: none;
        margin-bottom: 15px;
        transition: all 0.3s ease-in-out;
    }
    input {
        height: 50px;
    }
    textarea {
        height: 150px;
    }
    input:hover,
    textarea:hover {
        background: rgba(0, 196, 196, 1);
    }
}


.footer {
    padding: 35px 0;
    color: white;
    background-color: $maincolor;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    .love {
        color: #ff2b58;
    }
    a {
        text-decoration: none;
        color: white;
    }
    picture {
        filter: invert(1);
    }
}


h2 {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

h1 {
    font-size: 88px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

h5 {
    line-height: 1;
    margin: 0 0;
}

p {
    line-height: 1.58;
}

button {
    color: white;
    text-transform: uppercase;
    background-color: #96b92c;
    padding: 15px 35px;
    text-transform: uppercase;
    border: none;
    font-weight: 300;
}

.subtext {
    margin-bottom: 30px;
}



@media (max-width: 940px) {
    .services {
        &__content {
            order: 2;
        }
        &__name {
            background-position: center;
            justify-content: center;
        }
        &__item {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .blog {
        &__hidden {
            display: none;
        }
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .nav,
    .logo {
        width: 100%;
        text-align: center;
    }

    .about {
        &__img {
            text-align: center;
        }
    }

    .berries {
        max-width: 70%;
    }

    .form {
        padding-right: 0;
    }

    .footer__container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 412px) {
    h1{
        font-size: 60px;
    }
    .logo {
        width: calc(100% - 70px);
    }
    .nav {
        width: 70px;
        order: -1;
    }
    .navicon {
        display: block;
        z-index: 20;
    }
    .nav__list {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        padding: 120px 18px;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;
        &.open {
            display: flex;
        background: rgba(211, 211, 211, .8);
        transition: background .4 ease;
        }
    }
    .header__head {
        display: flex;
    }
    .services__item{
        max-width: calc(100% - 40px);
    }
    .services__content, .services__name{
        flex-basis: 10px;
    }
    .subscribe{
        
    }
    .button__container{
        text-align: center;
        margin-top: 20px;
    }
}